@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);



html {
  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  border: none;
}

body {
  position: absolute;  
  left: 300px;
  height: 100vh;
  background: whitez`;
}

/* From Uiverse.io by Nawsome */



.container {
  position: absolute;
  opacity: 1;
  width: 1200px;
  height: 6000px;
  margin: 0 auto;
  background: #FFFFFF;
  transition: all 2s ease-in-out;
}

.header {
  position: relative;
  height: 84px;
  display: flex;
  justify-content: flex-end;
  gap: 68px;
  align-items: center;
}

.uaButton {
  position: absolute;
  top: -60px;
  left: 120px;
  height: 30px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer
}

.engButton {
  position: absolute;
  top: -60px;
  left: 270px;
  height: 30px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer
}

.header-item {
  flex-grow: 0;
  color: #636769;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;

}

.main-button {
  background: #6157AB;
  width: 158px;
  height: 54px;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border: none;
  color: white;
  margin-right: 83px;
}


.main {
  position: relative;
  height: 1200px;

}

.main-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.first {
  width: 1200px;
  height: 1200px;

}

.clock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 170px;
  top: 100px;
  height: 150px;
  width: 150px;
  background: #ffffff;
  border-radius: 50%;
  border: 7px solid orange;
  box-sizing: content-box;
}

.sec {
  position: absolute;
  height: 40%;
  width: 0.5px;
  background: #000000;
  transform-origin: 50% 100%;
  margin-top: -40%;
}

.min {
  position: absolute;
  height: 32%;
  width: 2px;
  background: #000000;
  transform-origin: 50% 100%;
  margin-top: -32%;
}

.hour {
  position: absolute;
  height: 20%;
  width: 2.5px;
  background: #000000;
  transform-origin: 50% 100%;
  margin-top: -20%;
}

.numbers,
.cline {
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 18px;
  text-shadow: 1px 1px 3px #ccc;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.numbers:nth-child(1) {
  transform: rotate(30deg);
}

.numbers:nth-child(2) {
  transform: rotate(60deg);
}

.numbers:nth-child(3) {
  transform: rotate(90deg);
}

.numbers:nth-child(4) {
  transform: rotate(120deg);
}

.numbers:nth-child(5) {
  transform: rotate(150deg);
}

.numbers:nth-child(6) {
  transform: rotate(180deg);
}

.numbers:nth-child(7) {
  transform: rotate(210deg);
}

.numbers:nth-child(8) {
  transform: rotate(240deg);
}

.numbers:nth-child(9) {
  transform: rotate(270deg);
}

.numbers:nth-child(10) {
  transform: rotate(300deg);
}

.numbers:nth-child(11) {
  transform: rotate(330deg);
}

.clock-line:nth-child(13) {
  transform: rotate(15deg);
}

.cline:nth-child(14) {
  transform: rotate(45deg);
}

.cline:nth-child(15) {
  transform: rotate(75deg);
}

.cline:nth-child(16) {
  transform: rotate(105deg);
}

.cline:nth-child(17) {
  transform: rotate(135deg);
}

.cline:nth-child(18) {
  transform: rotate(165deg);
}

.cline:nth-child(19) {
  transform: rotate(195deg);
}

.cline:nth-child(20) {
  transform: rotate(225deg);
}

.cline:nth-child(21) {
  transform: rotate(255deg);
}

.cline:nth-child(22) {
  transform: rotate(285deg);
}

.cline:nth-child(23) {
  transform: rotate(315deg);
}

.cline:nth-child(24) {
  transform: rotate(345deg);
}

.cline {
  line-height: 15px;
  font-size: 20px;
  font-family: initial;
}

.center {
  position: absolute;
  height: 7.5px;
  width: 7.5px;
  border-radius: 50%;
}

.main-img {
  position: absolute;
  top: 0;
  width: 575px;
  height: 743px;
  top: 75px;
  left: 623px;
}

.main-title {
  width: 616px;
  height: 212px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: 1px;
  background: firebrick;
  margin: 96px 0 0 0;
}

.main-text {
  width: 599px;
  height: 68px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.05px;
}

.main-buttons {
  display: flex;
  width: 316px;
}

.main-button {
  width: 158px;
  height: 54px;
  opacity: 1;
  top: 542px;
  left: 60px;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.colored {
  border: none;
  background: rgba(97, 87, 171, 1);
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  width: 158px;
  height: 54px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.uncolored {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  color: rgba(97, 87, 171, 1);
  border: none;
}

.line {
  width: 93px;
  height: 1px;
  background: rgba(97, 87, 171, 1);
}

.button-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgba(97, 87, 171, 1);
}

.companies-title {
  width: 100px;
  height: 17px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(150, 151, 154, 1);
  background: white;
}

.companies {
  justify-content: center;
  flex-direction: column;
  gap: 39px;
  margin-top: 119px;
}

.companies-imgs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 116px;
  width: 582px;

}

.tech {
  position: absolute;
  top: 610px;
}

.all {
  position: absolute;
  left: 130px;
}

.wsj {
  position: absolute;
  left: 230px;
}

.usa {
  position: absolute;
  left: 330px;
}

.in-man {
  position: absolute;
  left: 440px;
}

.second-page {
  background: #f5f4f2;
}

.second-title {
  padding-top: 72px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #333333;
}

.button-group {
  margin-top: 47px;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 105px;
  justify-content: space-between;
}

.buttons {
  height: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 7px;
}

.un-color {
  color: #7A858A;
  border: 1px solid #AAB8BF;
  background: #ffffff;
}

.color {
  color: #6157AB;
  border: 1px solid var #6157AB;
  background: #ECEAF8;
}

.buyers {
  position: absolute;
  width: 1080px;
  height: 914px;
  top: 1208px;
  left: 60px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  background: #ffffff;

}

.buyer-img {
  position: absolute;
  width: 466px;
  height: 494px;
  top: 75px;
  left: 74px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;

}

.buyer-agents-title {
  position: absolute;
  width: 164;
  height: 24;
  top: 108px;
  left: 625px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #574D9C;
}

.buyer-title {
  position: absolute;
  width: 367px;
  height: 104px;
  font-family: Roboto;
  top: 229px;
  left: 625px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #363B3D;
}

.buyer-text {
  position: absolute;
  width: 381px;
  height: 120px;
  top: 365px;
  left: 625px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #636769;
}

.buyer-button {
  position: absolute;
  width: 223px;
  height: 54px;
  top: 527px;
  left: 649px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  background: #6157AB;
  color: #ffffff;
  border-radius: 5px
}

.back1 {
  position: absolute;
  top: 720px;
  left: 151px;
  width: 70px;
  height: 70px;
  background: #574D9C;
}

.back2 {
  position: absolute;
  top: 720px;
  left: 505px;
  width: 70px;
  height: 70px;
  background: #574D9C;
}

.back3 {
  position: absolute;
  top: 720px;
  left: 876px;
  width: 70px;
  height: 70px;
  background: #574D9C;
}

.money {
  position: absolute;
  top: 738px;
  left: 176px;
}

.pen {
  position: absolute;
  top: 737px;
  left: 524px;
}

.moneyhouse {
  position: absolute;
  top: 734px;
  left: 893px;
}

.icon-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.icon-text1 {
  position: absolute;
  width: 209;
  height: 19;
  top: 812px;
  left: 81px;

}

.icon-text2 {
  position: absolute;
  width: 190;
  height: 38;
  top: 813px;
  left: 445px;
}

.icon-text3 {
  position: absolute;
  width: 202;
  height: 19;
  top: 812px;
  left: 815px;

}

.good-company {
  position: absolute;
  width: 1080px;
  height: 1014px;
  top: 2122px;
  left: 60px;
  background: #E3E6F9;
}

.good-title {
  position: absolute;
  top: 72px;
  left: 261px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 51px;
  line-height: 64px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #323A5B;
}

.good-text {
  position: absolute;
  width: 436px;
  height: 168px;
  top: 209px;
  left: 63px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: #1E2224;
}

.edgar-exp {
  position: absolute;
  top: 388px;
  left: 173px;
  border-radius: 100px;
}


.edgar {
  position: absolute;
  width: 129px;
  height: 17px;
  top: 401px;
  left: 259px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #636769;
}

.exp {
  position: absolute;
  width: 96px;
  top: 417px;
  left: 259px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636769;
}

.dog {
  position: absolute;
  top: 204px;
  left: 540px;
  border-radius: 20px;
}

.good-line {
  position: absolute;
  width: 439px;
  height: 1px;
  top: 500px;
  left: 61px;
  background: #C9C9C9;
}

.agents {
  position: absolute;
  width: 425px;
  height: 60px;
  top: 551px;
  left: 68px;
  color: #363B3D;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

}

.Learn-more {
  position: absolute;
  width: 150px;
  height: 56px;
  top: 639px;
  left: 207px;
  border-radius: 5px;
  border: 1px solid #574D9C;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding: 13px 25px;
  color: #574D9C;
  background: #FFFFFF;
}

.long-line {
  position: absolute;
  width: 958px;
  height: 1px;
  top: 763px;
  left: 61px;
  background: #B2A9EF;
}

.number {
  height: 105px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 70px;
  line-height: 104px;
  color: #323A5B;
  position: absolute;
  top: 804px;
}

.number1 {
  left: 93px;
}

.number2 {
  left: 425px;
}

.number3 {
  left: 807px;
}

.ntext {
  position: absolute;
  height: 19px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 907px;
}

.ntext1 {
  left: 115px;
}

.ntext2 {
  left: 521px;
}

.ntext3 {
  left: 832px;
}




.our-solutions {
  position: absolute;
  width: 1200px;
  height: 1111px;
  top: 3136px;
  background: #F5F4F2;

}

.our-solutions-back {
  position: absolute;
  width: 1080px;
  height: 1111px;
  left: 60px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
  background: #574D9C;
}

.our-title {
  position: absolute;
  width: 400px;
  height: 65px;
  top: 72px;
  left: 383px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 51px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.our-buttons {
  position: absolute;
  top: 176px;
  height: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 31px;
  border-radius: 6.8px;
}

.our-purple {
  border: 1px solid #ffffff;
  background: #574D9C;
  color: #ffffff;
}

.turnan {
  border: 1px solid #6157AB;
  background: #ffffff;
  color: #574D9C;
  left: 61px;
}

.buys {
  left: 428px;
}

.saves {
  left: 723px;
}

.our-field {
  position: absolute;
  width: 752px;
  height: 643px;
  top: 324px;
  left: 164px;
  border-radius: 12px;
  background: #FFFFFF;
}

.our-photo {
  position: absolute;
  top: 32px;
  left: 32px;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 42px;
  left: 42px;
  border-radius: 100px;
  background: #7569CF;
}

.r {
  position: absolute;
  top: 42px;
  left: 42px;
}

.rectangle {
  position: absolute;
  width: 127px;
  height: 29px;
  top: 178px;
  left: 229px;
  background: #333;
}

.orlando {
  position: absolute;
  width: 94px;
  height: 17px;
  top: 182px;
  left: 247px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 2px;
  color: #ECEAF8;
}

.our-info {
  position: absolute;
  width: 324px;
  height: 397px;
  top: 207px;
  left: 32px;
  background: #E7ECEE45;
}

.our-lines {
  position: absolute;
  width: 80px;
  height: 1px;
  top: 43px;
  background: #C7C1F3;
}

.our-line1 {
  left: 24px;
}

.our-line2 {
  left: 228px;
}

.home {
  position: absolute;
  width: 111;
  height: 30;
  top: 28px;
  left: 110px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #363B3D;
}

.r-protection {
  position: absolute;
  top: 84px;
  left: 204px;
}

.our-long-lines {
  position: absolute;
  width: 285px;
  height: 1px;
}

.our-long-line-l {
  top: 175px;
  left: 24px;
  background: #C7C1F3;
}

.arrowl {
  position: absolute;
  top: 334px;
  left: 20px;
}

.arrowr {
  position: absolute;
  top: 334px;
  left: 966px;
}

.dots {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1007px;
  border-radius: 100px;
  border: 1px solid #ffffff
}

.the {
  position: absolute;
  left: 24px;
  width: 45px;
  height: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #363B3D;
}

.buyer {
  top: 205px;
}

.seller {
  top: 297px;
}

.got {
  position: absolute;
  left: 118px;
  width: 180px;
  height: 44px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #636769;
}

.buy {
  top: 205px;
}

.sell {
  top: 297px;
}

.turn {
  position: absolute;
  width: 266px;
  height: 71px;
  top: 151px;
  left: 404px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #2B2B2B;
}

.turn-text {
  position: absolute;
  width: 285px;
  height: 90px;
  top: 259px;
  left: 404px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #636769;
}

.turn-button {
  position: absolute;
  width: 135px;
  height: 54px;
  top: 415px;
  left: 404px;
  border-color: #7569CF;
  border-style: solid;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #7569CF;
}

.our-long-line-r {
  top: 532px;
  left: 404px;
  background: #9AA6AC;
}

.book {
  position: absolute;
  top: 558px;
  left: 404px;
}

.read {
  position: absolute;
  top: 558px;
  left: 439px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6157AB;
}



.dot1 {
  left: 504px;
  background: #ffffff;
}

.dot2 {
  left: 534px;
  background: none;
}

.dot3 {
  left: 560px;
  background: none;
}

.with-phone {
  position: absolute;
  width: 1200px;
  height: 552px;
  top: 4247px;
  background: #F5F4F2;
}

.phone-title {
  position: absolute;
  width: 405px;
  height: 96px;
  top: 118px;
  left: 133px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #363B3D;
}

.phone-text {
  position: absolute;
  width: 391px;
  height: 60px;
  top: 249px;
  left: 140px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #363B3D;
}

.appstore {
  position: absolute;
  width: 234px;
  height: 64px;
  top: 354px;
  left: 218px;
  border-radius: 7px;
  background: #000;
}

.app-store {
  position: absolute;
  top: 363px;
  left: 262px;
}

.phone {
  position: absolute;
  top: 83px;
  left: 628px;
}

.footer {
  position: absolute;
  top: 4799px;
  background: #050302;
  height: 633px;
  width: 1200px;
}

.ribbon {
  position: absolute;
  top: 60px;
  left: 60px;
}

.link-title {
  position: absolute;

  top: 59px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.agents-title {
  left: 246px;
  width: 62px;
}

.link-div {
  position: absolute;
  display: flex;
  top: 91px;
  flex-direction: column;
  gap: 10px;
}

.link {
  height: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}


.homebuyers-title {
  left: 449px;
  width: 101px;
}

.homebuyers {
  left: 449px;
  height: 190px;
  width: 165px;
}

.partners-title {
  left: 642px;
  width: 76px;
}

.partners {
  left: 642px;
  height: 90px;
  width: 76px;
}

.resources-title {
  left: 794px;
  width: 89px;
}

.resources {
  left: 794px;
  height: 230px;
  width: 106px;
}

.link {
  height: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}


.homebuyers-title {
  left: 449px;
  width: 101px;
}

.homebuyers {
  left: 449px;
  height: 190px;
  width: 165px;
}

.partners-title {
  left: 642px;
  width: 76px;
}

.partners {
  left: 642px;
  height: 90px;
  width: 76px;
}

.resources-title {
  left: 794px;
  width: 89px;
}

.resources {
  left: 794px;
  height: 230px;
  width: 106px;
}

.about-title {
  left: 967px;
  width: 53px;
}

.about {
  left: 967px;
  height: 150px;
  width: 65px;
}

.bbb {
  position: absolute;
  top: 452px;
  left: 60px;
}

.review {
  position: absolute;
  top: 522px;
  left: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links {
  position: absolute;
  top: 453px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.terms {
  left: 433px;
}

.privacy {
  left: 494px;
}

.copyright {
  position: absolute;
  top: 483px;
  left: 433px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}

.soccial {
  position: absolute;
  top: 459px;
}

.facebook {
  left: 1029px;
}

.inst {
  left: 1103px;
}